---
const title = 'Vladimir Jovanovic | Profile';
const description = '';
const image = 'https://www.pluralsight.com/content/pluralsight/en/jcr:content/image-res/file.transform/share-image/image.img.72af5e1a-604b-4b39-8b25-91875e8965d9.jpg';
const redirectUrl = 'https://pluralsight.pxf.io/3rMzk';
---
<!DOCTYPE html>
<html>
<head>
  <title>Redirecting...</title>
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:title" content={title}/>
  <meta property="twitter:description" content={description}/>
  <meta property="twitter:url" content={redirectUrl}/>
  <meta property="twitter:image:src" content={image}/>
  <meta property="og:title" content={title} />
  <meta property="og:url" content={redirectUrl} />
  <meta property="og:image" content={image} />
  <meta property="og:description" content={description} />
  <link rel="canonical" href={redirectUrl}/>
  <noscript>
    <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
  </noscript>
</head>
<body>
  <script is:inline define:vars={{ redirectUrl }}>
    window.opener = null;
    location.replace(redirectUrl);
  </script>
</body>
</html>
